<%- include('../../layout/head') %>
<body>  
        <p><a href="/">Home</a></p>     
        <%- include('../../layout/header') %>
        <%- include('detail', {book: book}) %>
        <%- include('../../layout/footer') %>
    </body>
    </html>